{% extends 'admin/adminbase.html' %}

{% block title %}
  User Registration
{% endblock %}

{% block body %}
  <div class="container d-flex justify-content-center align-items-center" style="height: 82vh; margin-left: 200px;">
    <div class="form-container p-4" style="background-color: #d3d3d3; border-radius: 10px; width: 500px; height: auto; overflow-y: auto;">
      <h2 class="text-center mb-3">User Registration</h2>
      <form action="{% url 'add-user' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Username..." required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="password" class="form-label">Password</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password" placeholder="Password..." name="password" required />
            <button type="button" class="btn btn-outline-secondary" id="togglePassword">Show</button>
          </div>
        </div>
        <div class="my-4">
          <label for="role" class="form-label">Choose Role For User</label>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="driver_management" name="driver_management" />
            <label class="form-check-label" for="driver_management">Driver Management</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="package_management" name="package_management" />
            <label class="form-check-label" for="package_management">Package Management</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="hotel_management" name="hotel_management" />
            <label class="form-check-label" for="hotel_management">Hotel Management</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="air_ticketing_management" name="air_ticketing_management" />
            <label class="form-check-label" for="air_ticketing_management">Air Ticketing Management</label>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary submit-btn" style="border-radius: 10px;  background-color: #0D96F2;">Submit</button>
        </div>
      </form>
    </div>
  </div>

  {% comment %} User table to edit or delete user {% endcomment %}

  <div class="container mt-3" style="margin-bottom: 30px;">
    <!-- Package Table -->
    <div class="package-table">
      <h1 class="text-center" style="position: relative; bottom: 12px;">User Management</h1>
      <table class="table table-striped table-hover">
        {% if messages %}
            <div class="messages mt-4">
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        <thead class="table-dark">
          <tr>
            <th>SN.</th>
            <th>Username</th>
            <th>Driver Management</th>
            <th>Package Management</th>
            <th>Hotel Management</th>
            <th>Air Ticketing Management</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Start here -->
          {% for user in user_roles %}
            <tr>
              <td>{{ user.userid }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.roles.driver_management }}</td>
              <td>{{ user.roles.package_management }}</td>
              <td>{{ user.roles.hotel_management }}</td>
              <td>{{ user.roles.air_ticketing_management }}</td>
              <td>
                <a href="#" class="btn btn-warning btn-sm me-2"><i class="bi bi-pencil-square"></i></a>
                <a href="{% url 'delete-user' user.userid %}" class="btn btn-danger btn-sm"
                onclick="return confirm('Are you sure you want to delete this user?');"><i class="bi bi-trash"></i></a>
              </td>
            </tr>
          {% endfor %}
          <!-- End here -->
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    document.getElementById('togglePassword').addEventListener('click', function () {
      const passwordInput = document.getElementById('password')
      const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password'
      passwordInput.setAttribute('type', type)
      this.textContent = type === 'password' ? 'Show' : 'Hide'
    })
  </script>
{% endblock %}

{% block custom_css %}
  <style>
    .form-check-input {
      margin-top: 0.3em;
    }
    .form-check-label {
      margin-left: 1em;
      font-size: 1em;
    }
    .submit-btn:hover {
      background-color: #0b7bd3;
    }
  </style>
{% endblock %}
