{% extends 'admin/adminbase.html' %}

{% block title %}
  Add Drivers
{% endblock %}

{% block body %}
  <div class="container d-flex justify-content-center align-items-center" style="height: 82vh; margin-left: 250px;">
    <div class="form-container p-4" style="background-color: #d3d3d3; border-radius: 10px; width: 600px; height: 550px; overflow-y: auto;">
      <h2 class="text-center mb-3">Add Driver Detail</h2>
      <form action="{% url 'add-driver' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
          <label for="drivername" class="form-label">Driver Name</label>
          <input type="text" class="form-control" name="drivername" placeholder="Driver Name" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="gender" class="form-label">Driver Gender</label>
          <select class="form-control" name="driver_gender" required style="border-radius: 5px;">
            <option value="" disabled selected>----</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Others</option>
          </select>
        </div>
        <div class="mb-2">
          <label for="number" class="form-label">Ph. Number</label>
          <input type="text" class="form-control" name="number" placeholder="Ph. Number" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="vehiclename" class="form-label">Vehicle Name</label>
          <input type="text" class="form-control" name="vehiclename" placeholder="Vehicle Name" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="vehiclenumber" class="form-label">Vehicle Number</label>
          <input type="text" class="form-control" name="vehiclenumber" placeholder="Pra 02 - Bag 047 pa 1234" required style="border-radius: 10px;" />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary submit-btn" style="border-radius: 10px; margin-top:20px; background-color: #0D96F2;">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var dateInput = document.getElementById('dateOfTour')
      var today = new Date().toISOString().split('T')[0]
      dateInput.setAttribute('min', today)
    })
  </script>
{% endblock %}
