{% extends 'admin/adminbase.html' %}

{% block title %}
  Update Hotel
{% endblock %}

{% block body %}
  <div class="container d-flex justify-content-center align-items-center" style="height: 82vh; margin-left: 250px;">
    <div class="form-container p-4" style="background-color: #d3d3d3; border-radius: 10px; width: 600px; height: 650px; overflow-y: auto;">
      <h2 class="text-center mb-3">Update Hotel Detail</h2>
      <form action="{% url 'save_hotel_update' hotel.hotelId %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
          <label for="hotelname" class="form-label">Hotel Name</label>
          <input type="text" class="form-control" name="hotelname" placeholder="Hotel Name" value="{{ hotel.hotelname }}" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="location" class="form-label">Location</label>
          <input type="text" class="form-control" name="location" placeholder="Location" value="{{ hotel.location }}" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="rating" class="form-label">Rating</label>
          <input type="number" step="0.1" class="form-control" name="rating" placeholder="Rating (e.g., 4.5)" value="{{ hotel.rating }}" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="price_per_night" class="form-label">Price Per Night</label>
          <input type="number" class="form-control" name="price_per_night" placeholder="Price Per Night" value="{{ hotel.price_per_night }}" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="hotel_description" class="form-label">Hotel Description</label>
          <textarea class="form-control" name="hotel_description" rows="4" placeholder="Hotel Description" required style="border-radius: 10px;">{{ hotel.hotel_description }}</textarea>
        </div>
        <div class="mb-2">
          <label for="image" class="form-label">Image</label>
          <input type="file" class="form-control" name="image" style="border-radius: 10px;" />
          {% if hotel.image %}
            <img src="{{ hotel.image.url }}" alt="Hotel Image" style="width: 100px; margin-top: 10px;" />
          {% endif %}
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary submit-btn" style="border-radius: 10px; margin-top:20px; background-color: #0D96F2;">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
