{% extends 'admin/adminbase.html' %}

{% block title %}
  Add Air Ticket
{% endblock %}

{% block body %}
  <div class="container d-flex justify-content-center align-items-center" style="height: 82vh; margin-left: 250px;">
    <div class="form-container p-4" style="background-color: #d3d3d3; border-radius: 10px; width: 600px; height: 500px; overflow-y: auto;">
      <h2 class="text-center mb-3">Add Air Ticket Detail</h2>
      <form action="{% url 'add-airticket' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
          <label for="airline" class="form-label">Airline</label>
          <input type="text" class="form-control" name="airline" placeholder="Airline" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="departure" class="form-label">Departure Location</label>
          <input type="text" class="form-control" name="departure" placeholder="Departure Location" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="destination" class="form-label">Destination</label>
          <input type="text" class="form-control" name="destination" placeholder="Destination" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="date_of_flight" class="form-label">Date of Flight</label>
          <input type="date" class="form-control" name="date_of_flight" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="price" class="form-label">Price of Ticket</label>
          <input type="number" class="form-control" name="price" placeholder="Price of Ticket" required style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="airline_logo" class="form-label">Airline Logo</label>
          <input type="file" class="form-control" name="airline_logo" accept=".png, .jpg, .jpeg" style="border-radius: 10px;" />
        </div>
        <div class="mb-2">
          <label for="flight_number" class="form-label">Flight Number</label>
          <input type="text" class="form-control" name="flight_number" placeholder="Flight Number"  required style="border-radius: 10px;" />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary submit-btn" style="border-radius: 10px; margin-top:20px; background-color: #0D96F2;">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
