
<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index/styles.css' %}" />
    <title>Euro Tours & Travels</title>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#" class="logo">Euro Tours & Travels</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="#home">HOME</a></li>
        <li><a href="#tour">DESTINATIONS</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#">BOOK TRIPs</a></li>
      </ul>
      
    </nav>

    <header id="home">
      <div class="header__container">
        <div class="header__content">
          <p>EXPLORE YOUR TRAVEL!</p>
          <h1>TRUSTED TRAVEL AGENCY</h1>
        </div>
      </div>
    </header>

    <section class="section__container destination__container" id="tour">
      <h2 class="section__header">Popular Destinations</h2>
      <p class="section__description">
        Choose Your Desired Place
      </p>
      <div class="destination__grid">
        <div class="destination__card">
          <img src="{% static 'images/mustang.jpg' %}" alt="destination" />
          <div class="destination__card__details">
            <div>
              <h4>Mustang</h4>
              <p>A world across the Mountains</p>
            </div>
          </div>
        </div>
        <div class="destination__card">
          <img src="{% static 'images/kathmandu.jpg' %}" alt="destination" />
          <div class="destination__card__details">
            <div>
              <h4>Kathmandu</h4>
              <p>A place rich in cultures</p>
            </div>
          </div>
        </div>
        <div class="destination__card">
          <img src="{% static 'images/lumbini.jpg' %}" alt="destination" />
          <div class="destination__card__details">
            <div>
              <h4>Lumbini</h4>
              <p>Birth place of Lord Buddha and Symbol of Peace</p>
            </div> 
          </div>
        </div>
          <div class="destination__card"> 
            <img src="{% static 'images/pokhara.jpg' %}" alt="destination" />
            <div class="destination__card__details">
              <div>
                <h4>Pokhara</h4>
                <p>Enjoy the Celebrations of Lively Festivals</p>
              </div>
            </div>
          </div>
          <div class="destination__card"> 
            <img src="{% static 'images/chitwan.jpg' %}" alt="destination" />
            <div class="destination__card__details">
              <div>
                <h4>Chitwan</h4>
                <p>Joyful Elephant Rides</p>
              </div>
            </div>
          </div>
          <div class="destination__card"> 
            <img src="{% static 'images/bandipur.jpg' %}" alt="destination" />
            <div class="destination__card__details">
              <div>
                <h4>Bandipur</h4>
                <p>Explore the historical alley that reflects the origin</p>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section class="section__container journey__container" id="services">
      <h2 class="section__header">Our Services</h2>
      <p class="section__description">
        Effortless Planning for Your Next Adventure
      </p>
      <div class="journey__grid">
        <div class="journey__card">
          <div class="journey__card__bg">
            <span><i class="ri-bookmark-3-line"></i></span>
            <h4>Air Ticketing</h4>
          </div>
          <div class="journey__card__content">
            <span><i class="ri-bookmark-3-line"></i></span>
            <h4>Air Ticketing</h4>
            <p> 
              Book your domestic and international flights with us and make your travel planning effortless.
            </p>
          </div>
        </div>
        <div class="journey__card">
          <div class="journey__card__bg">
            <span><i class="ri-landscape-fill"></i></span>
            <h4>Tour Packages</h4>
          </div>
          <div class="journey__card__content">
            <span><i class="ri-landscape-fill"></i></span>
            <h4>Tour Packages</h4>
            <p>
              Explore our curated tour packages and travel the world.Enjoy personalized travel plans designed to match your preferencesand interests.
            </p>
          </div>
        </div>
        <div class="journey__card">
          <div class="journey__card__bg">
            <span><i class="ri-map-2-line"></i></span>
            <h4>Hotel Booking</h4>
          </div>
          <div class="journey__card__content">
            <span><i class="ri-map-2-line"></i></span>
            <h4>Hotel Booking</h4>
            <p>
              Find and book your dream hotel accommodation. Choose your kind of comfort and peace with the best services.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container showcase__container" id="about">
      <div class="showcase__image">
        <img src="{% static 'images/logo.jpeg' %}" alt="showcase" />
      </div>
      <div class="showcase__content">
        <h4>ABOUT US</h4>
        <p>
          Welcome to Euro Tour and Travel! Based in the heart of Kathmandu, Nepal, we are your trusted partner for all your travel needs. From air ticketing and tour packages to vehicle hire and hotel booking, we offer a comprehensive range of services designed to make your travel experience seamless and memorable. Visit us at the Pashupativision Building, Pingalasthan, Gaushala, Kathmandu, and let us help you explore the world with ease and comfort.
        </p>
      </div>
    </section>

    <section class="section__container card__container" id="contact">
      <div class="card_content">
      <form method="POST" action="{% url 'contact-me' %}">
        {%csrf_token%}
        <h2 class="section__header">Contact Us</h2>

        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Your name" name="name" required>

        <label for="name">Email:</label>
        <input type="email" id="email"placeholder="Your email" name="email"  required>

        <label for="name">Message:</label>
        <textarea id="message" placeholder="Your message" rows="6"  name="message"  required></textarea>

        <div class="center">
            <button type="submit">Send Message</button>
            
        </div>
      </form>
      </div>
    </section>

    <footer id="contact">
        <div class="section__container footer__container">
            <div class="footer__col">
                <div class="footer__logo">
                    <a href="#" class="logo">Euro Tours & Travels</a>
                </div>
                <p>
                    Explore the world with ease and excitement through our comprehensive
                    travel platform. Your journey begins here, where seamless planning
                    meets unforgettable experiences.
                </p>
                <ul class="footer__socials">
                    <li>
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ri-youtube-line"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h4>Quick Links</h4>
                <ul class="footer__links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Destinations</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <h4>Our Services</h4>
                <ul class="footer__links">
                    <li><a href="#">Air Ticketing</a></li>
                    <li><a href="#">Tour Packages</a></li>
                    <li><a href="#">Hotel Booking</a></li>
                </ul>
            </div>
            <div class="footer__col map-section">
                <h4>Find Us</h4>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.390747172469!2d85.34513487517106!3d27.70521932558581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1982668f9073%3A0xb9784eaea864a533!2sEURO%20Tours%20%26%20Travel!5e0!3m2!1sen!2sus!4v1725441899990!5m2!1sen!2sus"
                            width="100%"
                            height="200"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="footer__bar">
            Copyright © 2024 TanviTech Pvt.Ltd.. All Rights Reserved.
        </div>
    </footer>
    
    
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>
